<div class="w-100 h-100">
  <div full-page class="section f-l" options="{ scrollingSpeed: 500, controlArrows: false }">
  	<div class="w-100 h-100 slide z-1" ng-repeat="mode in modes">
      <div class="w-60 xw-300px cen">
        <div class="w-100">
          <ng-loading-button
            class="w-100 h-90px bo-we bo-3px bor-50px f-18px fw-b c-we o-h f-n ls-1o5px"
            nlb-loading="mode.loading"
            nlb-mode="mode.value"
            nlb-text="mode.text"
            nlb-color="'white'"
            ng-click="load(mode);">
            {{mode.value}}
          </ng-loading-button>
        </div>
      </div>
    </div>
    <button class="p-a w-20 h-60px cen-y c-we l-0 z-2" ng-click="movePrev();">
      <div class="p-r w-100 h-100">
        <i class="ion-arrow-left-b f-30px cen"></i>
      </div>
    </button>
    <button class="p-a w-20 h-60px cen-y c-we r-0 z-2" ng-click="moveNext();">
      <div class="p-r w-100 h-100">
        <i class="ion-arrow-right-b f-30px cen"></i>
      </div>
    </button>
  </div>
</div>
